#======== File I/O ===============
InputFile                     = "../../origCfP/BasketballDrill_832x480_50.yuv"
SourceBitDepthLuma      = 8     # Source Bit Depth for Luma color component (8...14 bits)
SourceBitDepthChroma    = 8     # Source Bit Depth for Chroma color components (8...14 bits)
FrameRate                     = 50          # Frame Rate per second
FrameSkip                     = 0           # Number of frames to be skipped in input
SourceWidth                   = 832         # Input  frame width
SourceHeight                  = 480         # Input  frame height
FramesToBeEncoded              = 500         # Number of frames to be coded
