#======== File I/O ===============
InputFile                     = "../../origCfP/SteamLocomotiveTrain_2560x1600_60_10bit_crop.yuv"
SourceBitDepthLuma      = 10     # Source Bit Depth for Luma color component (8...14 bits)
SourceBitDepthChroma    = 10     # Source Bit Depth for Chroma color components (8...14 bits)
FrameRate                     = 60          # Frame Rate per second
FrameSkip                     = 0           # Number of frames to be skipped in input
SourceWidth                   = 2560        # Input  frame width
SourceHeight                  = 1600        # Input  frame height
FramesToBeEncoded              = 300         # Number of frames to be coded
