#======== File I/O ===============
InputFile                     = "../../origCfP/Traffic_2560x1600_30_crop.yuv"
SourceBitDepthLuma      = 8     # Source Bit Depth for Luma color component (8...14 bits)
SourceBitDepthChroma    = 8     # Source Bit Depth for Chroma color components (8...14 bits)
FrameRate                     = 30          # Frame Rate per second
FrameSkip                     = 0           # Number of frames to be skipped in input
SourceWidth                   = 2560        # Input  frame width
SourceHeight                  = 1600        # Input  frame height
FramesToBeEncoded              = 150         # Number of frames to be coded
